.page-wrap {
  padding-bottom: 1rem;
  padding-top: 1rem;
  @media (min-width: 48rem) {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}
.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1rem;
}

.subpage {
  background: #fff;
  border: 1px solid #dcdfe6;
  margin: 1rem 0;
  padding: 1rem;
  @media (min-width: 48rem) {
    margin: 2.5rem 0;
    padding: 2rem;
  }
}
